In [2]:
import math
import numpy as np
import pandas as pd
import scipy.stats as stats
import matplotlib.pyplot as plt

from datetime import datetime 
from collections import defaultdict
from scipy.stats import pearsonr

In [3]:
#create a pandas dataframes from csv files
users = pd.read_csv('users.csv')
tweets = pd.read_csv('tweets.csv')

In [4]:
users.info()
users.dtypes

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11508 entries, 0 to 11507
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              11508 non-null  int64
 1   name            11507 non-null  object
 2   lang            11508 non-null  object
 3   bot             11508 non-null  int64
 4   created_at      11508 non-null  object
 5   statuses_count  11109 non-null  float64
dtypes: float64(1), int64(2), object(3)
memory usage: 539.6+ KB

id                  int64
name               object
lang               object
bot                 int64
created_at         object
statuses_count    float64
dtype: object

In [5]:
tweets.info()
tweets.dtypes

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13664696 entries, 0 to 13664695
Data columns (total 10 columns):
 #   Column          Dtype
---  ------          -----
 0   id              object
 1   user_id         object
 2   retweet_count   object
 3   reply_count     object
 4   favorite_count  object
 5   num_hashtags    object
 6   num_urls        object
 7   num_mentions    object
 8   created_at      object
 9   text            object
dtypes: object(10)
memory usage: 1.0+ GB

id                object
user_id           object
retweet_count     object
reply_count       object
favorite_count    object
num_hashtags      object
num_urls          object
num_mentions      object
created_at        object
text              object
dtype: object

# Data Understanding

## Missing values analysis

In [6]:
tweets.isna().sum()

id                      2
user_id            217283
retweet_count      437134
reply_count        647878
favorite_count     647542
num_hashtags      1057524
num_urls           648623
num_mentions       854165
created_at              0
text               537721
dtype: int64

## Duplicates analysis

In [13]:
distinct_rows = len(tweets.value_counts())

Total lenght: 13664696
Total distinct rows: 10124682
--------------------------------------

TypeError: unsupported operand type(s) for -: 'str' and 'int'

In [14]:
print("Total lenght: " + str(len(tweets.index)))
print("Total distinct rows: " + str(distinct_rows))
print("--------------------------------------")
print("Total duplicates: " + str(len(tweets.index) - distinct_rows))

Total lenght: 13664696
Total distinct rows: 10124682
--------------------------------------
Total duplicates: 3540014

#### It's useful to know if there are some rows that have the same id

In [15]:
distinct_id_rows = len(tweets.value_counts(subset=['id']))

Total duplicates id (different rows with same id): -1547453

In [16]:
print("Total duplicates id (different rows with same id): " + str(distinct_id_rows - distinct_rows))

Total duplicates id (different rows with same id): 1547453

## Outlier analysis

## Attributes types

In [7]:
#check attrbutes type

In [104]:
tweets['id'] = pd.to_numeric(tweets['id'], errors='coerce')
tweets['user_id'] = pd.to_numeric(tweets['user_id'], errors='coerce')
tweets['retweet_count'] = pd.to_numeric(tweets['retweet_count'], errors='coerce')
tweets['reply_count'] = pd.to_numeric(tweets['reply_count'], errors='coerce')
tweets['favorite_count'] = pd.to_numeric(tweets['favorite_count'], errors='coerce')
tweets['num_hashtags'] = pd.to_numeric(tweets['num_hashtags'], errors='coerce')
tweets['num_mentions'] = pd.to_numeric(tweets['num_mentions'], errors='coerce')
tweets['num_urls'] = pd.to_numeric(tweets['num_urls'], errors='coerce')
tweets['created_at'] = pd.to_datetime(tweets['created_at'], errors='coerce')

In [114]:
tweets.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12854652 entries, 0 to 13664695
Data columns (total 10 columns):
 #   Column          Dtype
---  ------          -----
 0   id              float64
 1   user_id         float64
 2   retweet_count   float64
 3   reply_count     float64
 4   favorite_count  float64
 5   num_hashtags    float64
 6   num_urls        float64
 7   num_mentions    float64
 8   created_at      datetime64[ns]
 9   text            object
dtypes: datetime64[ns](1), float64(8), object(1)
memory usage: 1.1+ GB

# Data Preparation

## Select Attributes

## Reduce Data Dimension

## Select Records

## Treat Missing Values

## Treat Outliers

## Integrate, Unify and Transform Data

## Improve Data Quality

### Check created_at attributes of tweets

In [1]:
count_future = 0
count_past = 0
wrong_list = []
now = datetime.now()
launch_twitter = datetime.strptime("2006-07-15 00:00:00", "%Y-%m-%d %H:%M:%S")

for index, row in tweets['created_at'].items():
    if (now - datetime.strptime(row,"%Y-%m-%d %H:%M:%S")).days < 0:
        count_future += 1
        wrong_list.append(index)
    if (datetime.strptime(row, "%Y-%m-%d %H:%M:%S") - launch_twitter).days < 0:
        count_past += 1
        wrong_list.append(index)

counting_past + counting_future

NameError: name 'datetime' is not defined

In [11]:
#count how much wrong data id
wrong_id = 0;
index_list = [];
for index, row in tweets['id'].items():
    #check id value
    if not isinstance(row, float):
        if not row.isnumeric():
            wrong_id = wrong_id + 1;
            index_list.append(index);
wrong_id

433863

In [12]:
#count how much wrong data id to verify 
wrong_id = 0;
index_list = [];
for index, row in tweets['id'].items():
    #check id value
    if not isinstance(row, float):
        if not row.isnumeric():
            wrong_id = wrong_id + 1;
            index_list.append(index);
wrong_id

433863

In [13]:
#delete all the wrong ids
tweets.drop(index_list, inplace=True)
tweets

,id,user_id,retweet_count,reply_count,favorite_count,num_hashtags,num_urls,num_mentions,created_at
0,509354017856950272,327746321,0,0,0,0,0,0,2019-09-11 14:53:55
1,583002592529121280,333722906,1,0,0,0,0,1,2020-04-01 20:27:04
2,461498835362013185,2379755827,0,0,0,0,0,1,2019-05-02 13:34:31
3,528808127366692864,466226882,0,0,0,0,0,0,2019-11-04 07:17:37
4,575336690904006656,1355537995,114,0,0,1,0,1,2020-03-11 16:45:31
...,...,...,...,...,...,...,...,...,...
13664691,588535254207467520,587491046,0,0,0,0,0,1,2020-04-17 02:51:53
13664692,580420653666402304,1414080518,0,0,1,0,0,1,2020-03-25 17:27:22
13664693,718157017970961,91781300,0,NaN,l25suv5,NaN,0.0,NaN,2016-07-10 22:43:09
13664694,441301348676415488,127895572,0,0,1,1,0,0,2019-03-07 19:56:55
13664695,486479812614451200,465421036,3,0,4,0,0,0,2019-07-10 12:00:00

In [14]:
#count how much wrong retweet we have
wrong_retweet = 0
w_retweet_lst = []

for index, row in tweets['retweet_count'].items():
    #check retweet value
    if isinstance(row, str):
        if not row.isnumeric():
            wrong_retweet += 1
            w_retweet_lst.append(index)
    else:
        wrong_retweet += 1
        w_retweet_lst.append(index)

In [15]:
wrong_retweet

507304

## Count how much wrong retweet we have

In [16]:
wrong_reply = 0
w_reply_lst = []

for index, row in tweets['reply_count'].items():
    #check retweet value
    if isinstance(row, str):
        if not row.isnumeric():
            wrong_reply += 1
            w_reply_lst.append(index)
    else:
        wrong_reply += 1
        w_reply_lst.append(index)
wrong_reply

1420121

## Count how much wrong favorite we have

In [45]:
wrong_favorite = 0
drop_fav_list = []
nan = 0;

for index, row in tweets['favorite_count'].items():
    #check retweet value
    if isinstance(row, str):
        if not row.isnumeric():
            
            if '.' in row:
                row = int(row.split('.')[0])
            
            elif '-' in row:
                row = 0
                        
            else:
                
                drop_fav_list.append(index)
            
            wrong_favorite += 1
            
        else:
            row = int(row)

In [67]:
tweets.drop(drop_fav_list, axis=0, inplace=True)

In [74]:
#tweets['favorite_count'].isna().sum()
#tweets.dropna(subset=['favorite_count'], inplace=True)
a = tweets.astype('int32', errors='ignore')
a.dtypes

id                object
user_id           object
retweet_count     object
reply_count       object
favorite_count    object
num_hashtags      object
num_urls          object
num_mentions      object
created_at        object
text              object
dtype: object

In [77]:
a.sort_values('favorite_count', ascending=False).head(50)

,id,user_id,retweet_count,reply_count,favorite_count,num_hashtags,num_urls,num_mentions,created_at,text
12327526,136149120368874121,srhex0xk,1314,0.0,999.0,NaN,NaN,NaN,2018-04-30 12:56:48,NaN
10226123,328492999875112960,400069220,1314,0,999,0,2,1,2018-04-30 12:56:48,RT @FollowSeleFun: http://t.co/KI3n4hFOh4 ÐÐ¾...
3361226,krlo,276768643,945,0.0,9980,NaN,NaN,NaN,2020-05-01 04:16:01,NaN
5759116,269688498141925376,303932719,3006,1,998,0,0,2,2017-11-19 06:28:43,RT @donpoyssick: Union thugs like @BCTGM conti...
1751758,269688429418258432,303932719,3009,0,998,3,1,1,2017-11-19 06:28:26,RT @WarrenChandler: Web Design Essex - The Imp...
3339329,7564950094,466165783,0,tjbkdf09,997,0.0,0.0,0,2019-11-02 18:04:43,"""Genio Ã¨ chi crea concordanza tra il mondo in..."
8139035,269688697090363392,303932719,3004,1,997,0,1,1,2017-11-19 06:29:30,RT @jaysamit: IPAD MINI STOCK: Apple's stock p...
13267223,991587149,465367288,0,NaN,997,NaN,0.0,NaN,2019-06-22 12:59:29,NaN
3662496,587341463874306048,40779066,1354,0,996,0,0,0,2020-04-13 19:48:11,Women just feel shit on a deeper level that ni...
1228627,270155101182758912,303932719,3073,0,996,4,0,3,2017-11-20 13:22:50,RT @hiphopencounter: #djs #newmusic @bluemonta...
8813787,324639298714497025,138211958,15336,1016,996,0,0,2,2018-04-19 21:43:34,"RT @hcapriles: El @ComandoSB estÃ¡ en el CNE,e..."
10769512,269688876472348673,303932719,3799,0,995,1,1,1,2017-11-19 06:30:13,RT @Sharleenapubi: WOW - 100 free followers ri...
1656727,303693598777089070,465433276,2,NaN,99451,NaN,0.0,NaN,2019-05-16 06:38:10,NaN
11785473,3682757436,400069220,1134,0.0,994.0,NaN,2.0,1,2018-04-30 17:50:49,RT @FollowSeleFun: ÐÐ¾Ð¿ÑÐ¾Ð±ÑÐ¹ Ð½Ðµ Ð¿Ð¾Ñ...
2043222,138424748836270080,382916532,5887,137,994,1,0,1,2016-11-22 01:13:26,RT @RevRunWisdom: Nobody's life is perfect.. S...
9667777,269688753344348160,303932719,2991,0,994,1,0,2,2017-11-19 06:29:44,RT @Srkrokx: Coolio!! give you unlimited Asian...
13043484,269688753344348160,303932719,2991,0,994,1,0,2,2017-11-19 06:29:44,RT @Srkrokx: Coolio!! give you unlimited Asian...
9893498,328566991663276032,400069220,1134,0,994,0,2,1,2018-04-30 17:50:49,RT @FollowSeleFun: ÐÐ¾Ð¿ÑÐ¾Ð±ÑÐ¹ Ð½Ðµ Ð¿Ð¾Ñ...
6663359,80359336337,2272022072,0,0.0,99391,NaN,NaN,NaN,2019-02-26 07:29:05,NaN
7082897,682265012155810,256256185,0,0.0,993,0.0,NaN,1,2020-01-25 04:50:10,@AKarbs ummmm.....there's me
836358,200556147,539096910,1,9kh,992,0.0,0.0,0,2019-10-31 18:22:36,"""Per quanto faccia male, bisogna ricordare che..."
12919682,6960566114,164250795,NaN,0.0,991,3.0,1.0,0,2019-08-23 10:36:08,sharing #suaju India's ecommerce poised at $43...
6340657,362465176133786786,634907775,0,NaN,991,NaN,0.0,NaN,2020-03-04 04:37:39,NaN
7093271,270155155251539968,303932719,3041,0,991,0,1,1,2017-11-20 13:23:02,RT @phichua: Buy Car insurance singapore here ...
12213188,ymrestbzpa,1319382349,1,NaN,990,NaN,0.0,NaN,2020-04-23 04:14:36,NaN
5530386,152954824594297919,j7pfmj,180,NaN,99.0,NaN,0.0,NaN,2020-04-12 17:32:22,NaN
4055590,134420589,6fi1zi2,19,0.0,99.0,0.0,NaN,0,2019-02-08 06:59:12,I don't know what you all talking about this i...
4242746,qef,557607196,97,NaN,99.0,NaN,NaN,NaN,2019-05-08 19:36:22,NaN
4648417,445924869390491648,564249598,98,0,99,0,0,0,2019-03-20 14:09:08,La vita Ã¨ come quando in radio aspetti una ca...
8136485,585510962289057793,40779066,183,0,99,0,0,0,2020-04-08 18:34:26,When people show u their true colors take it s...
6148576,447749785790197760,564249598,110,0,99,0,0,0,2019-03-25 15:00:42,"Se la connessione internet salta per 2 giorni,..."
6186147,362091717454860288,557607196,154,0,99,0,0,0,2018-08-01 06:06:07,Il fatto che io continui a sorriderti non sign...
12056437,586944894213562368,402401015,180,0,99,1,0,0,2020-04-12 17:32:22,"5 YEARS AGO TODAY, HARRY MADE A DECISION THAT ..."
3173411,506818084792176640,564249598,79,0,99,0,0,0,2019-09-04 14:57:02,"Il 97% delle conversazioni Skype inizia con ""M..."
692346,591571205003595776,198571569,49,0,99,0,0,0,2020-04-25 11:55:40,you said I was the most exotic flower http://t...
3178573,428752982146957312,482865517,121,0,99,0,1,0,2019-02-01 04:54:11,Consumer Top Rated- Sacramento Video Marketing...
2116886,456011810370760704,564249598,107,0,99,0,0,0,2019-04-17 10:11:02,Un uomo ha due opzioni per vincere un litigio ...
7021081,259153609088974848,59989426,327,7,99,1,0,1,2017-10-21 04:46:49,RT @iSexstrology: #Taurus isnt one to move ont...
10047101,315493240025522176,83293188,286,10,99,0,0,1,2018-03-25 16:00:24,RT @myperfsayings: Girls never get mad for no ...
3286779,436502777414823937,564249598,89,0,99,0,0,0,2019-02-22 14:09:06,"Non tutti gli addii sono tristi. Esempio: ""Add..."
2347137,564044871716335616,86432824,16,0,99,1,1,0,2020-02-09 12:55:51,happy birthday julienne marie! i wish you all ...
9899443,494217705822904320,557607196,84,0,99,0,0,0,2019-07-31 20:27:37,âLa vita ci spezza tutti. Solo alcuni divent...
8122472,448534482019442688,557607196,127,0,99,0,0,0,2019-03-27 18:58:48,"""Mi piacciono le persone che non hanno bisogno..."
10307880,443390148269445120,24104971,31,0,99,0,0,0,2019-03-13 14:17:03,Jort dads know all the metal riffs in the powe...
12432572,442968131670405120,564249598,110,0,99,0,0,0,2019-03-12 10:20:07,Non alzarti dal letto. Le lenzuola ti hanno ac...
11881600,433353106785447936,557607196,105,0,99,0,0,0,2019-02-13 21:33:26,"Se vuoi vivere una vita felice, legala ad uno ..."
3211165,506818084792176640,564249598,79,0,99,0,0,0,2019-09-04 14:57:02,"Il 97% delle conversazioni Skype inizia con ""M..."
12727945,494217705822904320,557607196,84,0,99,0,0,0,2019-07-31 20:27:37,âLa vita ci spezza tutti. Solo alcuni divent...
833573,589916724692176897,40779066,112,0,99,0,0,0,2020-04-20 22:21:21,Stop bein pressed to go out and party with peo...
7696227,259153609088974848,59989426,327,7,99,1,0,1,2017-10-21 04:46:49,RT @iSexstrology: #Taurus isnt one to move ont...

In [80]:
a['favorite_count'].max()

'999.0'

'99451'

## Check num_hashtag attributes:

In [ ]:

wrong_htag = 0
w_htag_lst = []

for index, row in tweets['num_hashtags'].items():
    #check retweet value
    if isinstance(row, str):
        if not row.isnumeric():
            wrong_htag += 1
            w_htag_lst.append(index)
    else:
        wrong_htag += 1
        w_htag_lst.append(index)
wrong_htag
tweets['num_hashtags'][w_htag_lst[1000]]

# Check created_at attributes:

In [ ]:
count_past

In [ ]:
count_future

In [ ]:
type(tweets['num_urls'][0])

## Count how much wrong num_url we have

In [8]:
len(tweets_.id.unique())
#tweets_ = tweets_.drop_duplicates('id')

11672136

In [ ]:
wrong_url = 0
w_url_lst = []

for index, row in tweets['num_urls'].items():
    #check url value
    if isinstance(row, str):
        if not row.isnumeric():
            wrong_url += 1
            w_url_lst.append(index)
    else:
        wrong_url += 1
        w_url_lst.append(index)
wrong_url

## Count how much wrong num_mentions we have

In [ ]:
wrong_mentions = 0
w_mentions_lst = []

for index, row in tweets['num_mentions'].items():
    #check url value
    if isinstance(row, str):
        if not row.isnumeric():
            wrong_mentions += 1
            w_mentions_lst.append(index)
    else:
        wrong_mentions += 1
        w_mentions_lst.append(index)
wrong_mentions

# Check the attribute of the USERS file

#### sort users by id

In [ ]:
users.sort_values(by=['id'], inplace=True)

#### correction of the langauge attribute

In [ ]:
users.lang.unique()

In [ ]:
for index, row in users['lang'].items():
    users['lang'][index] = row.lower()  
    if row == 'select language...': 
        2-1 #dosomething

#### plotting the bar graph on languages

In [ ]:
users['lang'].value_counts().plot(kind='bar', title='Languages')
plt.show()

In [105]:
tweets.isna().sum()

id                 433862
user_id            433895
retweet_count      625456
reply_count        809504
favorite_count     808097
num_hashtags      1163677
num_urls           808953
num_mentions       987990
created_at              0
text               537721
dtype: int64

In [106]:
tweets.dtypes

id                       float64
user_id                  float64
retweet_count            float64
reply_count              float64
favorite_count           float64
num_hashtags             float64
num_urls                 float64
num_mentions             float64
created_at        datetime64[ns]
text                      object
dtype: object

In [109]:
tweets.sort_values('reply_count', ascending=False).head(30)

,id,user_id,retweet_count,reply_count,favorite_count,num_hashtags,num_urls,num_mentions,created_at,text
3575821,7.323864e+08,4.663775e+08,0.0,inf,1.0,0.0,NaN,0.0,2019-08-29 13:04:45,Prima di andare via sorridi un po' ma comunque...
1672397,5.751733e+17,4.663258e+08,NaN,2.000000e+110,0.0,0.0,0.0,0.0,2019-05-19 07:08:56,"""Stimare tutti Ã¨ lo stesso che non stimare ne..."
2279227,3.668370e+07,1.273199e+09,0.0,9.000000e+96,0.0,0.0,NaN,0.0,2019-08-05 14:12:52,"A letto, dopo aver fatto l'amore: Lei:Ehi ma c..."
6128429,1.279202e+09,NaN,1.0,6.000000e+85,0.0,0.0,0.0,2.0,2020-03-15 19:16:10,RT @Jacobfrnch: @dylannicholson_ happy bday ba...
10543201,7.098345e+08,5.003480e+07,0.0,4.320000e+84,0.0,NaN,1.0,0.0,2019-04-28 00:07:00,She couldn't get left out. http://t.co/KWqytxAkCd
1458335,1.222015e+08,2.265246e+07,0.0,8.000000e+83,0.0,0.0,NaN,0.0,2019-04-03 18:30:07,no more data risin n shit.
11221854,9.977861e+08,5.124054e+08,0.0,9.190000e+78,0.0,0.0,NaN,0.0,2019-10-19 20:56:11,Learn About Facebook-Top Tips for Business Suc...
5512715,NaN,1.095771e+08,0.0,5.000000e+76,0.0,0.0,0.0,0.0,2020-04-15 09:09:14,Happy Romance Day to all :) ;) :p &lt;3
1793123,NaN,4.671527e+08,0.0,2.000000e+69,NaN,NaN,NaN,NaN,2019-07-27 10:56:32,"""sono tempi davvero duri: serve sangue freddo ..."
6745713,NaN,3.459642e+08,0.0,6.000000e+64,0.0,0.0,0.0,2.0,2020-03-27 19:35:46,@juveennio @LKM_juve That's why I said recentl...
9624531,6.654629e+08,5.227151e+08,0.0,6.200000e+63,NaN,0.0,1.0,0.0,2019-10-23 22:38:17,Learn About Careers with a Creative Writing De...
7887560,9.874297e+16,2.257463e+09,0.0,7.000000e+52,0.0,0.0,NaN,0.0,2019-10-19 16:25:00,L'empatia non andava legalizzata.
8928156,4.328463e+15,5.391390e+08,4.0,2.400000e+37,NaN,0.0,0.0,0.0,2019-08-16 20:47:43,-Cosa ti rende felice? -Le persone con le qual...
11929320,9.819419e+10,6.142118e+08,0.0,5.000000e+33,NaN,NaN,NaN,NaN,2019-11-01 17:17:13,"""Non Ã¨ mai stato rovesciato un idolo, se non ..."
2916537,5.326775e+07,4.664575e+08,0.0,4.100000e+32,0.0,NaN,0.0,0.0,2019-10-31 22:12:04,"""Allarme povertÃ , dati della banca d'Italia, ..."
2390169,8.147863e+10,3.268813e+07,4.0,5.000000e+18,0.0,1.0,0.0,NaN,2020-04-03 14:00:14,RT @datnigga_DonteD: Black men dont cheat....n...
8098093,NaN,2.367763e+09,0.0,1.000000e+18,NaN,NaN,NaN,NaN,2019-03-31 11:53:27,"""Everything comes to him who hustles while he ..."
9005428,NaN,4.663943e+08,0.0,9.000000e+13,1.0,0.0,0.0,0.0,2019-11-03 08:08:41,I grandi dubbi!! Ma in prossimita' delle isole...
5263563,6.733559e+07,1.065256e+09,0.0,9.810000e+10,NaN,1.0,0.0,0.0,2020-04-16 13:33:31,So Shocking to hear that a schoolmate of mine ...
3884170,7.775768e+06,NaN,0.0,7.900000e+10,0.0,0.0,1.0,0.0,2019-10-04 17:38:02,Great Music from this Bose Blue Tooth system -...
6339472,7.210943e+15,1.087524e+09,0.0,9.200000e+09,0.0,NaN,NaN,NaN,2018-06-19 21:35:59,NaN
8139955,9.858135e+08,2.497380e+09,0.0,8.000000e+09,NaN,NaN,NaN,NaN,2020-03-11 21:30:06,@tanline666 yeppers
1686,4.879259e+16,NaN,1.0,8.000000e+09,0.0,NaN,NaN,NaN,2019-11-01 08:50:03,NaN
11952273,3.695945e+14,3.607428e+08,0.0,5.000000e+09,0.0,NaN,NaN,NaN,2019-10-06 21:07:50,NaN
4903560,4.061941e+17,1.307963e+09,27.0,4.000000e+09,0.0,NaN,0.0,1.0,2020-04-18 13:58:53,RT @Namaloom_Engr: Yeh kis kis k ghar jaega ya...
518188,9.122737e+07,4.485688e+08,NaN,2.000000e+09,0.0,0.0,0.0,0.0,2019-07-12 01:35:24,I been snappin on people for no reason lately
10822745,9.671059e+08,1.982490e+08,0.0,1.443000e+09,0.0,0.0,NaN,2.0,2020-04-01 15:48:56,@themafinator @NotSoBlanco I'm just trying to ...
11608202,9.795856e+15,3.491528e+08,148.0,1.360000e+09,0.0,NaN,0.0,1.0,2020-01-21 14:40:55,RT @BIGBANG_Says: Q: The most classy and styli...
2377967,4.882076e+17,3.381517e+08,0.0,1.000000e+09,0.0,0.0,0.0,NaN,2020-03-04 07:55:20,@cecilia_bedelia this is the most accurate thi...
12192578,NaN,1.465762e+09,2.0,1.000000e+09,0.0,NaN,NaN,NaN,2020-03-09 23:21:28,NaN

In [110]:
tweets.dropna(subset=['id', 'user_id'], inplace=True)

In [112]:
tweets.isna().sum()

id                     0
user_id                0
retweet_count     409681
reply_count       500082
favorite_count    499546
num_hashtags      681080
num_urls          500227
num_mentions      590590
created_at             0
text              309664
dtype: int64

# Check the user_id in users db