In [6]:
import pandas as pd

In [7]:
#create a pandas dataframes from csv files
users = pd.read_csv('users.csv')
tweets = pd.read_csv('tweets.csv')

In [8]:
users.info()
users.dtypes

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11508 entries, 0 to 11507
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              11508 non-null  int64
 1   name            11507 non-null  object
 2   lang            11508 non-null  object
 3   bot             11508 non-null  int64
 4   created_at      11508 non-null  object
 5   statuses_count  11109 non-null  float64
dtypes: float64(1), int64(2), object(3)
memory usage: 539.6+ KB

id                  int64
name               object
lang               object
bot                 int64
created_at         object
statuses_count    float64
dtype: object

In [10]:
tweets.info()
tweets.dtypes

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13664696 entries, 0 to 13664695
Data columns (total 10 columns):
 #   Column          Dtype
---  ------          -----
 0   id              object
 1   user_id         object
 2   retweet_count   object
 3   reply_count     object
 4   favorite_count  object
 5   num_hashtags    object
 6   num_urls        object
 7   num_mentions    object
 8   created_at      object
 9   text            object
dtypes: object(10)
memory usage: 1.0+ GB

id                object
user_id           object
retweet_count     object
reply_count       object
favorite_count    object
num_hashtags      object
num_urls          object
num_mentions      object
created_at        object
text              object
dtype: object

In [11]:
#remove the text column to having a lighter dataframe
texts = tweets[['id', 'text']].copy()
texts.info()
texts.dtypes

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13664696 entries, 0 to 13664695
Data columns (total 2 columns):
 #   Column  Dtype
---  ------  -----
 0   id      object
 1   text    object
dtypes: object(2)
memory usage: 208.5+ MB

id      object
text    object
dtype: object

In [12]:
tweets = tweets.drop('text', axis=1)
tweets.info()
tweets.dtypes

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13664696 entries, 0 to 13664695
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   id              object
 1   user_id         object
 2   retweet_count   object
 3   reply_count     object
 4   favorite_count  object
 5   num_hashtags    object
 6   num_urls        object
 7   num_mentions    object
 8   created_at      object
dtypes: object(9)
memory usage: 938.3+ MB

id                object
user_id           object
retweet_count     object
reply_count       object
favorite_count    object
num_hashtags      object
num_urls          object
num_mentions      object
created_at        object
dtype: object

In [13]:
tweets_ = tweets.drop_duplicates()
tweets_.info()
tweets_.dtypes

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11712597 entries, 0 to 13664695
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   id              object
 1   user_id         object
 2   retweet_count   object
 3   reply_count     object
 4   favorite_count  object
 5   num_hashtags    object
 6   num_urls        object
 7   num_mentions    object
 8   created_at      object
dtypes: object(9)
memory usage: 893.6+ MB

id                object
user_id           object
retweet_count     object
reply_count       object
favorite_count    object
num_hashtags      object
num_urls          object
num_mentions      object
created_at        object
dtype: object

In [8]:
len(tweets_.id.unique())
#tweets_ = tweets_.drop_duplicates('id')

11672136

In [9]:
tweets_.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11712597 entries, 0 to 13664695
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   id              object
 1   user_id         object
 2   retweet_count   object
 3   reply_count     object
 4   favorite_count  object
 5   num_hashtags    object
 6   num_urls        object
 7   num_mentions    object
 8   created_at      object
dtypes: object(9)
memory usage: 893.6+ MB

In [20]:
#count how much duplicates we have
a = tweets.duplicated()
i = 0
for (k,v) in a.items():
    if v == True:
        i = i + 1;
i

1952099

In [21]:
#count how much wrong data id
wrong_id = 0;
index_list = [];
for index, row in tweets['id'].items():
    #check id value
    if not isinstance(row, float):
        if not row.isnumeric():
            wrong_id = wrong_id + 1;
            index_list.append(index);
wrong_id

0

In [22]:
#count how much wrong data id to verify 
wrong_id = 0;
index_list = [];
for index, row in tweets['id'].items():
    #check id value
    if not isinstance(row, float):
        if not row.isnumeric():
            wrong_id = wrong_id + 1;
            index_list.append(index);
wrong_id

0

In [23]:
#delete all the wrong ids
tweets.drop(index_list, inplace=True)
tweets

,id,user_id,retweet_count,reply_count,favorite_count,num_hashtags,num_urls,num_mentions,created_at
0,509354017856950272,327746321,0,0,0,0,0,0,2019-09-11 14:53:55
1,583002592529121280,333722906,1,0,0,0,0,1,2020-04-01 20:27:04
2,461498835362013185,2379755827,0,0,0,0,0,1,2019-05-02 13:34:31
3,528808127366692864,466226882,0,0,0,0,0,0,2019-11-04 07:17:37
4,575336690904006656,1355537995,114,0,0,1,0,1,2020-03-11 16:45:31
...,...,...,...,...,...,...,...,...,...
13664691,588535254207467520,587491046,0,0,0,0,0,1,2020-04-17 02:51:53
13664692,580420653666402304,1414080518,0,0,1,0,0,1,2020-03-25 17:27:22
13664693,718157017970961,91781300,0,NaN,l25suv5,NaN,0.0,NaN,2016-07-10 22:43:09
13664694,441301348676415488,127895572,0,0,1,1,0,0,2019-03-07 19:56:55
13664695,486479812614451200,465421036,3,0,4,0,0,0,2019-07-10 12:00:00

In [33]:
#count how much wrong retweet we have
wrong_retweet = 0
index_str = []
index_wrong = []
index_negative = []
for index, row in tweets['retweet_count'].items():
    #check retweet value
    if row != '0':
        print(row)
        print(type(row))
        break
wrong_retweet

<class 'str'>

0